@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&display=swap');

/* Start main navbar */
nav {
    font-family: 'Merriweather', serif;
    font-size: 1em !important;
}

@media (min-width: 768px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }
/* End main Navbar */

/* Secondary navbar */
.sec-nav {
    color: #333333;
}


body {
    font-family: 'Merriweather', serif;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.textsection {
    margin: 2% 10% 2% 10%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2em;
}

#disclaimer {
    font-size: 1em;
}

/* ==== Team Section, source: https://htmlcss3tutorials.com/bootstrap-team-section-design-with-example/ ===== */

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.team-card {
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    height: 400px;
}

.team-card:hover,
.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(9, 48, 64, 0.461);
    -moz-box-shadow: 0px 1px 35px 0px rgba(9, 48, 64, 0.461);
    box-shadow: 0px 1px 35px 0px rgba(9, 48, 64, 0.461);
}

.team-card:hover .team-img,
.hover .team-img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .9;
}

.team-img {
    height: 250px;
    overflow: hidden;
}

.team-card img {
    display: flex;
    width: 100%;

}

.team-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 30px;
}


.team-title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.team-subtitle {
    margin: 0;
    padding: 0 0 10px;
    color: #2668f7;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

/* ==== Footer Section, source: https://getbootstrap.com/docs/5.2/examples/footers/ ===== */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

footer {
    color: whitesmoke;
}

footer .fa-github {
    font-size: 2em;
    color: whitesmoke;
}